.day-night-switch {
    background-color: black;
    color: white;
}

.day-night-switch-button {
    line-height: 2;
    margin: 0.2em;
    padding: 8px;  
}

a {
    margin: 0.2em;
    padding: 8px;
}


[type="checkbox"],
[type="radio"] {
    margin: 0.5em;
    width: 16px;
    height: 16px;
}

#top-nav {
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: .7em 0;
    text-align: center;
    box-sizing: border-box;
    
}
#top-nav button {    
    line-height: 2;
    margin: 0.2em;
    padding: 8px;    
}

#left-nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .7em 0;
    text-align: center;
    box-sizing: border-box;
    
}
#left-nav a {    
    line-height: 2;    
}

footer {
    margin-bottom: 50px;
}